@import "../variables";

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-rows: 1fr;

  .containerChat {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .header {
      color: white;
      background-color: $secondary;
      width: 100%;
      padding: 1em;
      font-size: 1.2em;
    }

    .chatMsg {
      flex: 1 1 auto;
      width: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;

      .message {
        background-color: lightgray;
        border-radius: 10px;
        padding: 1em;
        align-self: flex-start;
        margin: 0.5em 1em 0.5em 1em;
        border-radius: 10px 10px 10px 0;
        color: black;

        &.myMessage {
          background-color: $primary;
          align-self: flex-end;
          border-radius: 10px 10px 0 10px;
          text-align: right;
        }

        span {
          text-transform: capitalize;
          font-weight: bold;
        }

        p {
          margin: 0.5em 0 0 0;
        }
      }
    }

    .footer {
      width: 100%;
      height: 5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      background-color: $secondary;
      gap: 1em;

      .input {
        width: 100%;
        height: 3em;
        padding: 10px;
        border: none;
        background-color: white;
        font-size: 1rem;
        border-radius: 5px;
        outline: none;
      }

      .btn {
        border-radius: 5px;
        font-size: 1.2em;
        height: 3em;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px;
        border: none;
        background-color: $primary;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: $primary-hover;
        }
      }
    }
  }

  .listUsers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $secondary;
    height: 100%;
    width: 100%;

    .header {
      color: white;
      background-color: $primary;
      width: 100%;
      padding: 1em;
      font-size: 1.2em;
    }

    .users {
      flex: 1;
      width: 100%;
      overflow-y: auto;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .userCard {
        display: flex;
        align-items: center;
        padding: 0.5em;
        border-radius: 8px;
        color: white;

        .userAvatar {
          width: 2.5em;
          height: 2.5em;
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2em;
          font-weight: bold;
          margin-right: 0.5em;
          color: $secondary;
        }

        .username {
          font-size: 1em;
          font-weight: bold;
        }
      }
    }

    .footer {
      width: 100%;

      .btn {
        font-size: 1.2em;
        width: 100%;
        height: 5em;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px;
        border: none;
        background-color: $primary;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: $primary-hover;
        }
      }
    }
  }
}
